.intro {
  font-size: 20px;
  text-align: center;
}

.pokegrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 2.5px;
}

.linkreset {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  padding: 0;
}
