.pokemonImgContainer {
  width: 20%;
  border: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
.pokemonImgContainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
